
    <p style="text-align:center"><a href='/recipes/new' style = "font-size: 120%"> Create a new recipe </a>
    </p>
    <br>
    <% if @recipecats.any? %>
      <table style="width:50%" class="center">
        <tr>
          <th> Title </th>
        </tr>
         <% @recipecats.each do |category| %>
            <tr>
              <td> <a href = "listrecipesincat/<%="#{category}"%>">
                          <%= "#{category}" %> </a>
              </td>
            </tr>
         <% end %>
       </table>
       <% else %>
          <p> No categories have been created. </p>
    </p>      
    <% end %>
