    <nav>
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/about" title="About">About</a></li>
        <li><a href="/contact" title="Contact">Contact</a></li>
        <li><a href="/recipelist" title="Recipe List">Recipe List</a></li>
        <li><a href="/categorylist" title="Categories">Category List</a></li>
        <li><a href="/references" title="References">References</a></li>
        <li><a href="/books" title="Books">Books</a></li>
        <li><a href="/authors" title="Authors">Authors</a></li>
        <li><a href="/journals" title="Journals">Journals</a></li>
      </ul>
    </nav>
